.StoreTable{
display: flex;
justify-content: space-evenly;
flex-direction: row;
flex-wrap: wrap-reverse;
position: absolute;
color: black;
width: 650px;
height: 450px;
left: 750px;
top: 388px;
background: rgba(255, 249, 18, 0.75);
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}

.Card{   
display: flex;
align-self: center;
align-items: center;
flex-direction: column;
color: #2584E2;
width: 200px;
height: 189.09px;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 1.5em;
letter-spacing: .2px;
background: rgba(255, 249, 18, 0.78);
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;   
}

.cardContainer{
max-width: 786px;
max-height: 450px;
}
.cancel{

}
.buy{
    
}