/* BODY AND BACKGROUNDS */
body{
  font-size: 15px;
  font-family: 'Sigmar One', 'cursive';
}

.logo{
    flex: 'flex-shrink';
    padding-top: 3em;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.loginForm{
    color: white;
    font-size: 1.5em;
    padding-top: 3em;
    width: 8.5em;
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%) 
}
.loginImg{
    background-image: url(../images/login.png);
    background-repeat: no-repeat;
    height: 900px;
    width: 600px;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.LoginButton{
    padding-top: 1em;
}

