/* BODY AND BACKGROUNDS */
.showContainer{
  background-image: url(../images/redcarpet.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height:100%;
  font-family: 'Sigmar One', 'cursive';
}

.ShowOff{
    height: 100%;
}
.ShowOff img{
    position: absolute;
    top: 50%;
    left: 52%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}