/* BODY AND BACKGROUNDS */
body{
  background-image: url(../images/Background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Sigmar One', 'cursive';
}

.whereTo{
    padding-top: 9em;
    display: flex;
    justify-content: center;
}
.buttonSet{
    padding-top: 3.8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button1 .button2{
  margin: 5em;
}