/* BODY AND BACKGROUNDS */
body{
  background-image: url(../images/Background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Sigmar One', 'cursive';
}

.whereTo{
    padding-top: 6.8em;
    display: flex;
    justify-content: center;
}
.buttonSet{
    padding-top: 3.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}