/* BODY AND BACKGROUNDS */

.Store{
    background-image: url(../images/mainbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10em;
    display: flex;    
    flex-wrap: nowrap;
    height:100%;
}
.points{
    display: flex;
    align-self: flex-start;
}

.Acc{
    flex: 'flex-shrink';
    padding-top: 8em;
    padding-left: -10em;
}
.raccoon{
    position: absolute;
    top: 62%;
    left: 30%;
    transform: translate(-50%, -50%) 
}