/* BODY AND BACKGROUNDS */

.Stuff{
    background-image: url(../images/mainbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10em;
    display: flex;    
    flex-wrap: nowrap;
    height:100%;
}
.points{
    display: flex;
    align-self: flex-start;

}

.Collection{
    flex: 'flex-shrink';
    padding-top: 4em;
    padding-left: -10em;
}